{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Breadcrumb part start-->
<section class="breadcrumb_part">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <h2> Blog Administration</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb part end-->
<!-- trending item start-->
<section class="trending_items">
    <div class="container">
        <div class="row">
            {% for post in posts %}
            <div class="col-lg-4 col-sm-6">
                
                <div class="single_product_item">
                    <div class="blog_admin_container">
                    <div class="single_product_item_thumb">
                        {% if post.blog_image %}
                        <img src="{{ post.blog_image.url }}" alt="{{ post.header }}" class="blog-img-fluid">
                        {% endif %}
                    </div>
                    </div>
                    <h4> <a href="#">{{ post.header }}</a> </h4>
                    <p class="mb-2">{{ post.introtext }}</p>
                        {% if post.category %}
                            <p class="mb-2"><a href="{% url 'blog' %}?category={{ post.category.name }}"
                                    aria-label="Post Category"><i class="fa-solid fa-tag pr-2"></i> {{ post.category.friendly_name }}</a>
                            </p>
                        {% endif %}
                        <p class="mb-2">Created: {{ post.date_created }}</p>
                        <span>
                            <a href="{% url 'update_post' slug=post.slug %}"
                                class="btn_1 text-white small primary-border px-3 py-1" role="button"
                                aria-label="Update">Update
                            </a>
                        </span>
                        <span>
                            <a class="btn_1 text-white small primary-border px-3 py-1 confirm-delete"
                                role="button" aria-label="Delete">Delete
                            </a>
                        </span>
                </div>
            </div>
            {% endfor %}
            
        </div>
        {% include "includes/pagination.html" with page=posts %}
    </div>
</section>
<!-- trending item end-->


{% endblock %}

{% block pagination %}

{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script>
    $(document).on('click', '.confirm-delete', function () {
        return confirm('Are you sure you want to delete the post?');
    })
</script>
<script>
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>
{% endblock %}