{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Breadcrumb part start-->
<section class="breadcrumb_part">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <h2>Hanneles Art Academy</h2>
                    <h3>Delete post</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb part end-->
    <section class="pt-2">
        <div class="container mt-5">
            <div class="row mt-5">
                <div col-md-8 offset-md-2>
                    <form action="{% url 'delete_post' post.slug %}" method="POST">
                        {% csrf_token %}
                        <p class="mb-3">Are you sure you want to delete the post "{{ post.title }}"?</p>
                        <p></p>
                        <a href="{% url 'academy' %}" class="btn_1 text-white">Cancel</a>
                        <input type="submit" class="btn_1" value="Confirm"></input>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}