{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Banner Part Start-->
<section class="banner_part">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-5">
                <div class="banner_text">
                    <div class="banner_text_iner">
                        <h1>Hanneles Original Art</h1>
                        <p>Don't buy commodity prints when you can get affordable original paintings!</p>
                        <a href="{% url 'products' %}" aria-label="Visit our paintings page"
                            class="btn_1 text-white">Buy real
                            art</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner_img">
        <img src="{% static 'img/banner.webp' %}" alt="Flower painting" class="img-fluid">
    </div>
</section>
<!-- Banner Part End-->
<!-- Reviews Heading Start -->
<hr>
<div class="container">
    <div class="row mb-2">
        <div class="col-lg-12">
            <div class="breadcrumb_iner text-center">
                <a href="{% url 'reviews' %}">
                    <h2 class="review_heading">What our customers say</h2>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Reviews Heading End -->
<!-- Review Slider Start -->
{% include 'includes/slider.html' %}
<hr>
<!-- Review Slider End -->
<!-- Footer part start -->
<footer class="footer_part">
    <div class="footer_iner">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-12 col-md-4">
                    <div>
                        <p class="text-uppercase font-weight-bold">Hanneles Art</p>
                        <p>Gallery & Academy</p>
                        <p>Tavlavägen 123</p>
                        <p>SE-123 45 Gävle</p>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div>
                        <p class="text-uppercase font-weight-bold">Contact us</p>
                        <p><i class="fa-solid fa-phone fa-lg pr-2"></i>076-555 00 007</p>
                        <p><i class="fa-regular fa-envelope fa-lg pr-2"></i>info@hanneles.com</p>
                        <p><a href="{% url 'contact' %}" aria-label="Contact us"><i class="fa-solid fa-at fa-lg pr-2"></i>Contact form</p></a>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div>
                        <p class="text-uppercase font-weight-bold">Follow us</p>
                        <p><a href="https://www.facebook.com/61555624246656/" aria-label="Visit us on Facebook"
                            target="_blank" rel="noopener"><i class="fab fa-facebook-f fa-lg pr-2"></i>Facebook</a></p>
                        <p><a href="https://www.instagram.com/" aria-label="Visit us on Instagram" target="_blank"
                            rel="noopener"><i class="fab fa-instagram fa-lg pr-2"></i>Instagram</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright_part">
        <div class="container">
            <div class="row ">
                <div class="col-lg-12">
                    <div class="copyright_text">
                        <P>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>
                                document.write(new Date().getFullYear());
                            </script> All rights reserved | This template is made with <i class="ti-heart"
                                aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank"
                                rel="noopener">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </P>
                        <div class="copyright_link">
                            <a href="{% url 'privacy_policy' %}" target="_blank"
                                aria-label="Have a look at our Privacy Policy">Privacy Policy</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer part end -->
{% endblock %}
{% block mailchimpjs %}
<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
<script type="text/javascript">
    (function ($) {
        window.fnames = new Array();
        window.ftypes = new Array();
        fnames[0] = 'EMAIL';
        ftypes[0] = 'email';
        fnames[1] = 'FNAME';
        ftypes[1] = 'text';
        fnames[2] = 'LNAME';
        ftypes[2] = 'text';
        fnames[3] = 'ADDRESS';
        ftypes[3] = 'address';
        fnames[4] = 'PHONE';
        ftypes[4] = 'phone';
        fnames[5] = 'BIRTHDAY';
        ftypes[5] = 'birthday';
    }(jQuery));
    var $mcj = jQuery.noConflict(true);
</script>

{% endblock %}
{% block caroouseljs %}
<script type="text/javascript">
    $('.collapse').collapse()
</script>
{% endblock %}