#profile-update-form input::placeholder {
    color: #aab7c4;
}

.select, select.form-control {
    padding: 0.5rem 0.5rem;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    columns: #000;
}

#id_default_country option:first-child {
    color: #aab7c4;
}