.text-sold {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 2rem;
    
}

.section_padding_small {

    padding: 20px;
}

.dropdown_select {
    font-size: 16px;
}

.select_option_bottom {
    margin-bottom: 20px;
}

.single_product_img img {
    max-height: 600px;
    max-width: fit-content;
    margin: auto;
}

.single_product_item a {
    color: #795376 !important;
    line-height: 1;
}

.single_product_item p {
    line-height: 1.7;
}

.btn-3 {
    padding: 12px;
}

.product_image_area .single_product_text {
    margin: 30px 0 30px;
}

hr {
    border: 1px solid #B08EAD;
}

.add_to_cart p {
    margin: 5px;
}

.product_image_area .single_product_text p {
    margin-top: 30px;
    color: #707070;
}

.price {
    margin-top: 10px !important;
}

/* Add mouse pointer to category & format dropdown lists and refresh/delete icons in cart */

.pointer {
    cursor: pointer;
}

.column_centered {
    text-align: center;
}

.column_right {
    text-align: right;
}

/* Toasts container */
.message-container {
    position: fixed;
    top: 100px;
    margin-right: 30px;
    width: 400px;
    z-index: 5000;
}

.toast {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
}
.toast-border {
    border-radius: 20px;
    border: 2px solid #795376;
}

.toast-header {
    padding: 7px;
    align-items: center;
}

.toast-header i {
    padding-right: 7px;
}

.cart_area section_padding {
    padding: 50px 0px;
}

/* Allauth form formatting */
.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

#edit_delete_details {
    font-size: 1.75rem;
    align-items: center;
}

/* Product File Upload Form */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}


/* Navbar remove border */
.navbar lg {
    border: 0 !important;
    z-index: 9999;
    background-color: #fff;
}

.nav-link {
    color: #795376 !important;
}


@media only screen and (max-width: 350px) {
    .show-total {
        display: none;
    }

    .nav-link {
        padding: 0.5rem 0.5rem;
    }
}

#mc-embedded-subscribe {
 
    display: inline-block;
    margin-top: 1em;
    margin-bottom: 1em;
    max-width: fit-content;
    padding: 17px 50px;
    border-radius: 50px;
    background-color: #B08EAD;
    border: 0;
    font-size: 15px;
    font-weight: 500;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-transform: capitalize;
    color: #fff;
    &:hover{
        background-color: #fff;
        color: #795376;
    }
}