<nav class="blog-pagination justify-content-center d-flex">
    <ul class="pagination">
        <div class="pagination">
            <span class="step-links">
                {% if page.has_previous %}
                <a href="?page={{ page.previous_page_number }}" aria-label="Previous"><i class="fa-solid fa-angles-left pr-2"></i> </a>
                {% endif %}
                <span class="current">
                    {{ page.number }} of {{ page.paginator.num_pages }}
                </span>
                {% if page.has_next %}
                <a href="?page={{ page.next_page_number }}" aria-label="Next"><i class="fa-solid fa-angles-right pl-2"></i></a>
                {% endif %}
            </span>
        </div>
    </ul>
</nav>