<section class="p-2">
  <div class="container mb-2">
    <div class="row">
      <div class="col-md-12">
        <div class="row owl-carousel owl-theme border-0">
          {% for r in reviews %}
          <div class="item mx-2 border-0">
            <div class="card text-center border-0">
              <div class="card-body border-0">
                <p>{% for s in r.rating|ljust:r.rating %}<i class="fas fa-star"></i> {% endfor %}</p>
                <h5 class="card-title">{{ r.review_title }}</h5>
                <p class="card-text font-italic">"{{ r.review_body }}"</p>
                <br>
                <p class="card-text text-muted">- {% if r.display_name is None %}Anonymous -{% else %}{{ r.display_name }} -{% endif %}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
{% block carousel%}
<script>
$(document).ready(function () {
  $('.owl-carousel').owlCarousel({
      loop:true,
      margin:20,
      nav:false,
      responsive:{
          0:{
              items:1
          },
          600:{
              items:3
          },
          1000:{
              items:4
          }
      }
  });
});
</script>
{% endblock %}