{% extends 'base.html' %}
{% load static %}

{% block content %}
  <!-- breadcrumb part start-->
  <section class="breadcrumb_part">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <h2>Paintings by Hannele</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb part end-->

<!-- product list part start-->
<section class="product_list section_padding_small">
 
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <div class="product_list">
                        <div class="row">
                            <div class="col-lg-4 col-sm-4">
                                <div class="single_sedebar">
                                    <div class="select_option select_option_bottom">
                                        <div class="select_option_list dropdown_select pointer">Select Category <i class="right fas fa-caret-down"></i> </div>
                                        <div class="select_option_dropdown">
                                            <p><a href="{% url 'products' %}?category=flowers">Flowers</a></p>
                                            <p><a href="{% url 'products' %}?category=animals">Animals</a></p>
                                            <p><a href="{% url 'products' %}?category=landscape">Landscape</a></p>
                                            <p><a href="{% url 'products' %}?category=portrait">Portrait</a></p>
                                            <p><a href="{% url 'products' %}?category=abstract">Abstract</a></p>
                                            <p><a href="{% url 'products' %}?category=impressionism">Impressionism</a></p>
                                            <p><a href="{% url 'products' %}?category=still_life">Still Life</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="single_sedebar">
                                    <div class="select_option">
                                        <div class="select_option_list dropdown_select pointer">Select Format <i class="right fas fa-caret-down"></i> </div>
                                        <div class="select_option_dropdown">
                                            <p><a href="{% url 'products' %}?format=Portrait">Portrait</a></p>
                                            <p><a href="{% url 'products' %}?format=Landscape">Landscape</a></p>
                                            <p><a href="{% url 'products' %}?format=Square">Square</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="single_sedebar">
                                    <div class="select_option">
                                        <div class="select_option_list dropdown_select pointer">Sort by Price <i class="right fas fa-caret-down"></i> <i class="right fas fa-caret-up"></i> </div>
                                        <div class="select_option_dropdown">
                                            <p><a href="{% url 'products' %}?sort=price&direction=asc">Low to high</a></p>
                                            <p><a href="{% url 'products' %}?sort=price&direction=desc">High to low</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>




                    <div class="product_list">
                        <div class="row">
                            {% for product in products %}
                            <div class="col-lg-4 col-sm-4">
                                <div class="single_product_item">
                                    {% if product.image %}
                                    <img src="{{ product.image.url }}" alt="{{ product.name }} {{ product.technique }}"
                                        class="img-fluid">
                                    {% else %}
                                    <img src="{{ MEDIA_URL }}noimage.png"
                                        alt="{{ product.name }} {{ product.technique }}" class="img-fluid">
                                    {% endif %}
                                    <h3> <a href="{% url 'product_detail' product.id %}">{{ product.name }}</a> </h3>
                                    {% if product.category %}
                                    <p><a href="{% url 'products' %}?category={{ product.category.name }}">{{ product.category.friendly_name }}</a>
                                    </p>
                                    {% endif %}
                                    <p>{{ product.size }}</p>
                                    {% if product.sold is True %}
                                    <p class="text-sold">sold</p>
                                    {% else %}
                                    <p>€ {{ product.price }}</p>
                                    {% endif %}
                                </div>
                            </div>
                            {% endfor %}

                        </div>

                    </div>
                </div>
            </div>
        </div>

</section>
<!-- product list part end-->

{% endblock %}